<!--<!DOCTYPE html>-->
<!--<html xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <title>Products by Category</title>-->
<!--</head>-->
<!--<body>-->
<!--<h2>Products by Category</h2>-->
<!--<div th:if="${category}">-->
<!--    <h3 th:text="${category.description}"></h3>-->
<!--    <ul>-->
<!--        <li th:each="product : ${products}">-->
<!--            <a th:href="@{'/product/' + ${product.id_product}}">-->
<!--                <span th:text="${product.productName}"></span>-->
<!--            </a>-->
<!--        </li>-->
<!--    </ul>-->
<!--</div>-->
<!--<div th:unless="${category}">-->
<!--    <p>Category not found</p>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Pc Planet</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" th:href="@{/images/img_2.png}" />
    <!-- Bootstrap icons-->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css}" rel="stylesheet}" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link th:href="@{/details/css/styles.css}" rel="stylesheet" />
</head>
<body>
<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
        <!--    <a class="navbar-brand" href="#!">Pc Planet</a>-->
        <img src="/images/img_2.png" class="logo " width="15%" height="15%">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" th:href="@{/}">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#!">All Products</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Popular Items</a></li>
                        <li><a class="dropdown-item" href="#!">New Arrivals</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex">
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span id="cartItemCount" class="badge bg-dark text-white ms-1 rounded-pill" th:text="${cartItemCount}"></span>
                </button>
            </form>
        </div>
    </div>
</nav>





<!--<div class="swiper product-swiper">-->
<!--    <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide">-->
<!--            <div th:each="product : ${products}" class="swiper-slide">-->

<!--            <div class="product-card position-relative">-->
<!--                <div class="image-holder" >-->
<!--                    <img th:src="${product.image}" alt="product-item7" class="img-fluid">-->
<!--                </div>-->
<!--                <div class="cart-concern position-absolute">-->
<!--                    <div class="cart-button d-flex">-->
<!--                        <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">-->

<!--                    <h6   class="card-title text-uppercase">-->

<!--                        <span class="item-price text-primary" th:text="${product.product_name}"></span>-->

<!--                    </h6>-->

<!--                    <span class="item-price text-primary" th:text="${product.price}"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--<div class="swiper product-swiper">-->
<!--    <div class="swiper-wrapper">-->
<!--        &lt;!&ndash; Iterate through filtered products &ndash;&gt;-->
<!--        <div th:each="product : ${products}" class="swiper-slide">-->
<!--            <div class="product-card position-relative">-->
<!--                <div class="image-holder">-->
<!--                    &lt;!&ndash; Use Thymeleaf expressions to get product properties &ndash;&gt;-->
<!--                    <img th:src="${product.image}" alt="product-item7" class="img-fluid">-->
<!--                </div>-->
<!--                <div class="cart-concern position-absolute">-->
<!--                    <div class="cart-button d-flex">-->
<!--                        &lt;!&ndash; <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a> &ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">-->
<!--                    <h6 class="card-title text-uppercase">-->
<!--                        &lt;!&ndash; Link to the product detail page &ndash;&gt;-->
<!--                        &lt;!&ndash; <a th:href="@{'/product/' + ${product.getId_product()}}" class="text-black" th:text="${product.getProduct_name()}"></a> &ndash;&gt;-->
<!--                    </h6>-->
<!--                    <span class="item-price text-primary" th:text="${product.product_name}"></span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<br>
<br>
<!--<div class="generate-pdf-link d-flex justify-content-between align-items-baseline pt-3">-->
<!--    <a th:href="@{'/filter/generatePdf/{categoryId}(categoryId=${categoryId})?minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}" class="btn btn-medium btn-normal text-uppercase">Generate PDF</a>-->
<!--</div>-->
<!--<div class="swiper product-swiper">-->
<!--    <div class="swiper-wrapper">-->
<!--        <div class="swiper-slide">-->
<!--            <div th:each="product : ${products}" class="swiper-slide">-->

<!--                <div class="product-card position-relative">-->
<!--                    <div class="image-holder" >-->
<!--                        <img th:src="${product.image}" alt="product-item7" class="img-fluid">-->
<!--                    </div>-->
<!--                    <div class="cart-concern position-absolute">-->
<!--                        <div class="cart-button d-flex">-->
<!--                            <a href="#" class="btn btn-medium btn-black">Add to Cart<svg class="cart-outline"><use xlink:href="#cart-outline"></use></svg></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <div class="card-detail d-flex justify-content-between align-items-baseline pt-3">-->

<!--                        <h6   class="card-title text-uppercase">-->

<!--                            <span class="item-price text-primary" th:text="${product.product_name}"></span>-->

<!--                        </h6>-->

<!--                        <span class="item-price text-primary" th:text="${product.price}"></span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="btn-right">
            <div class="generate-pdf-link d-flex justify-content-between align-items-baseline pt-3">
                <a th:href="@{'/filter/generatePdf/' + ${categoryId} + '?minPrice=' + ${minPrice} + '&maxPrice=' + ${maxPrice}}"
                   class="btn btn-medium btn-normal text-uppercase">Generate PDF</a>
            </div>
        <form th:action="@{/products/filter/{categoryId}(categoryId=${categoryId})}" method="get">
            <label for="minPrice">Min Price:</label>
            <input type="number" id="minPrice" name="minPrice" placeholder="Min Price" />

            <label for="maxPrice">Max Price:</label>
            <input type="number" id="maxPrice" name="maxPrice" placeholder="Max Price" />

            <button type="submit" class="btn btn-medium btn-normal text-uppercase">Filter by Price</button>
        </form>

        <!--        <h2 class="fw-bolder mb-4" th:text="${category.description}"></h2>-->
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center" >
            <div class="col mb-5" th:each="product : ${products}">
                <div class="card h-100">
                    <!-- Product image-->
                    <img th:src="${product.image}" class="card-img-top"  alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center" >
                            <a th:href="@{'/product/' + ${product.id_product}}">  <!-- Product name-->
                            <h5 class="fw-bolder" th:text="${product.product_name}"></h5>
                            <!-- Product price-->
                                <span th:text="${product.price} + 'DH'"></span>
                            </a>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add To Cart</a></div>
                    </div>
                </div>
                </div>
            </div>
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Special Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$20.00</span>-->
<!--                            $18.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center flex flex-column">-->
<!--                            <a class="btn btn-outline-dark mt-auto" href="">Add to cart</a>-->

<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--          </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Sale badge&ndash;&gt;-->
<!--                    <div class="badge bg-dark text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Sale</div>-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Sale Item</h5>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            <span class="text-muted text-decoration-line-through">$50.00</span>-->
<!--                            $25.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col mb-5">-->
<!--                <div class="card h-100">-->
<!--                    &lt;!&ndash; Product image&ndash;&gt;-->
<!--                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                    &lt;!&ndash; Product details&ndash;&gt;-->
<!--                    <div class="card-body p-4">-->
<!--                        <div class="text-center">-->
<!--                            &lt;!&ndash; Product name&ndash;&gt;-->
<!--                            <h5 class="fw-bolder">Popular Item</h5>-->
<!--                            &lt;!&ndash; Product reviews&ndash;&gt;-->
<!--                            <div class="d-flex justify-content-center small text-warning mb-2">-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                                <div class="bi-star-fill"></div>-->
<!--                            </div>-->
<!--                            &lt;!&ndash; Product price&ndash;&gt;-->
<!--                            $40.00-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    &lt;!&ndash; Product actions&ndash;&gt;-->
<!--                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">-->
<!--                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">Add to cart</a></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    </div>
</section>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
</footer>
<!-- Bootstrap core JS-->
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js}"></script>
<!-- Core theme JS-->
<script th:src="@{js/scripts.js}"></script>
</body>

</html>

<script>

    function updateCartItemCount() {

        fetch('/cartItemCount')
            .then(response => response.json())
            .then(data => {

                document.getElementById('cartItemCount').innerText = data;
            });
    }


    window.onload = updateCartItemCount;
</script>